<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a href="/api/issue-tracker" class="display-6 headerSpan"><i class="fa-solid fa-magnifying-glass "></i> Issue Tracker</a>
    <a href="/api/issue-tracker/project-details" class="btn btn-light mx-5" style="color: dodgerblue">Project Details</a>
</header>