<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- instruct browser to use latest rendering engine  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive and zoom will 0 (no zoom)-->
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> <!-- crossorigin=anonymous means don't share any cookie or info to that site while fetching the resource -->
        <script src="https://kit.fontawesome.com/0100459f57.js" crossorigin="anonymous"></script>
    </head>

    <body style="background-color: ghostwhite;">
        <%- include('_header'); %>
        <%- body %>
        <%- script %>
        <script ssrc="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    </body>